body {
    background-color: #F3F4F6;
    color: black;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: black;
}

a:hover {
    color: rgb(17, 138, 178);
    transition: 0.3s all;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: rgb(17, 138, 178);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 580px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.botao {
    height: 50px;
    width: 50%;
    background-color: rgb(17, 138, 178);
    color: white;
    font-weight: bold;
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    text-align: center;
}

.botao:hover {
    cursor: pointer;
}

#abtn {
    color: white;
    text-decoration: none;
}

#abtn:hover {
    color: gainsboro;
}

@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    h2 {
        font-size: 38px;
    }
    form {
        margin: 0 auto;
        width: 100%;
    }
    input {
        align-self: center;
    }
    img {
        display: none;
    }
    #logo {
        display: inline;
    }
    ul {
        text-align: center;
    }
    .botao {
        align-self: center;
    }
}